@import 'tailwindcss';

body {
  background: #0e1c2d;
  font-family: plus-jakarta-sans, sans-serif;
  overflow-x: hidden;
}
.masonry {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  grid-auto-flow: dense;
}

.masonry-item {
  break-inside: avoid;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}
